extends ../layout

block content
  .page-header
    h1.text-center Sign in
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .col-sm-8.col-sm-offset-2
      a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
        i.fa.fa-facebook
        | Sign in with Facebook